<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.addthis.jsbin</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>JSBIN_CONFIG</key>
      <string>/usr/local/etc/jsbin.config.local.json</string>
      <key>PATH</key>
      <string>/usr/local/bin:$PATH</string>
    </dict>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/jsbin/bin/jsbin</string>
      <string>-p</string>
      <string>30303</string>
    </array>
    <key>KeepAlive</key>
    <dict>
      <key>NetworkState</key>
      <true/>
    </dict>
  </dict>
</plist>
